<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body>
<!--/*@thymesVar id="customers" type="java.util.List"*/-->
<!--/*@thymesVar id="customer" type="pl.casmic.api.domain.Customer"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card card-primary">
                <div class="card-heading">
                    <h5 class="card-title" style="margin-top: 20px; margin-left: 20px">Customers from API</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(customers)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                            </tr>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                            </tr>
                            <tr th:each="customer : ${customers}">
                                <td th:text="${customer.firstname}">Joe</td>
                                <td th:text="${customer.lastname}">Buck</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>